@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Poppins:wght@300&family=Silkscreen&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Fonts */
$font-body: "Poppins", sans-serif;
$font-headers: "Indie Flower", sans-serif;
$font-headers-secondary: "Lobster", sans-serif;

/* Colour palette */
$color-grey: #A9A9A9;
$color-white: #FFFFFF;
$pastel-blue: #A1E7FB;
$color-blue: #add8e6;
$pastel-green: #B4ECB4;
$color-beige: #CCC;
$color-black: #000000;
$color-grey: #E2E2E2;

/* Breakpoints for media queries */
$breakpoint-mobile: 320px;
$breakpoint-mobile-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-large-desktop: 2560px;